:root {
  --pageBackground: #060ab2;
  --cardBackground: #1c7ccc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: var(--pageBackground);
}

/* .game-stats {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
} */

/* .game-stats {
  display: grid;
  grid-template-rows: 3, 1fr;
  grid-template-columns: 2, 1fr;
} */

/* TODO: CSS Grid is needed on the memory-game class to better organize the cards */
.memory-game {
  width: 1280px;
  height: 1280px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  border: 1px dashed red;
}

.memory-card {
  width: calc(11% - 8px);
  height: calc(11% - 8px);
  margin: 0.5rem;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card:hover {
  border: 2px solid #fff;
  border-radius: 6px;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 0.65rem;
  position: absolute;
  border-radius: 6px;
  background: var(--cardBackground);
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}
